<div id="highlights" ng-controller="highlightsCtrl">

<h1 id="banner">Trump Twitter Archive</h1>
<div class="banner-spacing"></div>

<div id="highlights-left">

  <div class="total-highlight">
    <h2><a ng-href="#/archive/loser">169 tweets</a> with "loser" or "losers"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I feel sorry for Rosie &#39;s new partner in love whose parents are devastated at the thought of their daughter being with <a href="https://twitter.com/Rosie">@Rosie</a>--a true loser.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/146994336670822400" target="_blank">December 14, 2011</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/dumb">160 tweets</a> with "dumb", "dumber", "dumbest", or "dummy"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">You must admit that Bryant Gumbel is one of the dumbest racists around - an arrogant dope with no talent. Failed at CBS etc-why still on TV?</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/370022928639098880" target="_blank">August 21, 2013</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/terrible">140 tweets</a> with "terrible"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I loved beating these two terrible human beings. I would never recommend that anyone use her lawyer, he is a total loser!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/337710578002980865" target="_blank">May 23, 2013</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/stupid">136 tweets</a> with "stupid", "stupidity", or "stupidest"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/michellemalkin">@michellemalkin</a> You were born stupid!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/315103294693466112" target="_blank">March 22, 2013</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/weak">125 tweets</a> with "weak" or "weakness"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">There is no longer a Bernie Sanders &quot;political revolution.&quot; He is turning out to be a weak and somewhat pathetic figure,wants it all to end!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/757205678821928960" target="_blank">July 24, 2016</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/dishonest">85 tweets</a> with "dishonest"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">A dishonest slob of a reporter, who doesn&#39;t understand my sarcasm when talking about him or his wife, wrote a foolish &amp; boring Trump &quot;hit&quot;</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/434546124578648064" target="_blank">February 15, 2014</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/incompeten">74 tweets</a> with "incompetent" or "incompetence"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I have been saying for weeks for President Obama to stop the flights from West Africa. So simple, but he refused. A TOTAL incompetent!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/525474609710510080">October 24, 2014</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/lightweight">63 tweets</a> with "lightweight"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I can&#39;t resist hitting lightweight <a href="https://twitter.com/DannyZuker">@DannyZuker</a> verbally when he starts up because he is just.so pathetic and easy (stupid)!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/344905633579012097" target="_blank">June 12, 2013</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/boring">60 tweets</a> with "boring"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The Emmys are sooooo boring!  Terrible show. I&#39;m going to watch football! I already know the winners. Good night.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/381939611591012352" target="_blank">September 23, 2013</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/pathetic">58 tweets</a> with "pathetic"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Sleep eyes <a href="https://twitter.com/chucktodd">@ChuckTodd</a> is killing Meet The Press. Isn&#39;t he pathetic? Love watching him fail!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/620339062055010304" target="_blank">July 12, 2015</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/haters%20and%20losers">52 tweets</a> with variations of "haters and losers"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Sorry losers and haters, but my I.Q. is one of the highest -and you all know it! Please don&#39;t feel so stupid or insecure,it&#39;s not your fault</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/332308211321425920" target="_blank">May 9, 2013</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/fool">51 tweets</a> with "fool"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Dopey Sugar <a href="https://twitter.com/Lord_Sugar">@Lord_Sugar</a>—you are the worst kind of loser—a total fool.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/278198760251727873" target="_blank">December 10, 2012</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/dopey">40 tweets</a> with "dopey"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Dopey  <a href="https://twitter.com/Lord_Sugar">@Lord_Sugar</a>  I&#39;m worth $8 billion and you&#39;re worth peanuts...without my show nobody would even know who you are.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/277107284356771841" target="_blank">December 7, 2012</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/moron">37 tweets</a> with "moron"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">If the morons who killed all of those people at Charlie Hebdo would have just waited, the magazine would have folded - no money, no success!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/555367040907612160" target="_blank">January 14, 2015</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/racist">34 tweets</a> with "racist"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">In that <a href="https://twitter.com/timewarner">@TimeWarner</a> has <a href="https://twitter.com/HBO">@HBO</a> with really dumb racist  Bryant Gumbel(and I mean dumb), and no CBS (which fired Bryant), I am switching bldgs.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/373294566872715264" target="_blank">August 30, 2013</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/clown">32 tweets</a> with "clown"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/FrankLuntz">@FrankLuntz</a>, your so-called &quot;focus groups&quot; are a total joke. Don&#39;t come to my office looking for business again. You are a clown!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/629558921779412992" target="_blank">August 7, 2015</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/disgusting">30 tweets</a> with "disgusting"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Barney Frank looked disgusting--nipples protruding--in his blue shirt before Congress. Very very disrespectful.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/149589104168939520" target="_blank">December 21, 2011</a></blockquote>
  </div>

  <div class="total-highlight">
  <h2><a ng-href="#/archive/goofy">26 tweets</a> with "goofy"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">When Mitt Romney asked me for my endorsement last time around, he was so awkward and goofy that we all should have known he could not win!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/702635699594469377" target="_blank">February 24, 2016</a></blockquote>
  </div>

  <div class="total-highlight">
  <h2><a ng-href="#/archive/no%20talent">14 tweets</a> with "no talent"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Isn&#39;t it crazy that people of little or no talent or success can be so critical of those whose accomplishments are great with no retribution</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/357836961605627907" target="_blank">July 18, 2013</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/lowlife">11 tweets</a> with "lowlife", "low-life", or "low life"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Some low-life journalist claims that I &quot;made a pass&quot; at her 29 years ago. Never happened! Like the <a href="https://twitter.com/nytimes">@nytimes</a> story which has become a joke!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/733113480207798272" target="_blank">May 19, 2016</a></blockquote>
  </div>

  <div class="total-highlight new-section">
    <h2><a ng-href="#/archive/global%20warming">91 tweets</a> implying "global warming" is fake</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The concept of global warming was created by and for the Chinese in order to make U.S. manufacturing non-competitive.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/265895292191248385" target="_blank">November 6, 2012</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/highlights/birtherism">84 tweets</a> implying Obama is foreign (birtherism) </h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">An &#39;extremely credible source&#39; has called my office and told me that <a href="https://twitter.com/BarackObama">@BarackObama</a>&#39;s birth certificate is a fraud.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/232572505238433794">August 6, 2012</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/autism">14 tweets</a> implying "autism" is caused by vaccines </h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Massive combined inoculations to small children is the cause for big increase in autism....</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/238717783007977473" target="_blank">August 23, 2012</a></blockquote>
  </div>

  <div class="total-highlight new-section">
    <h2><a ng-href="#/archive/poll">371 tweets</a> with "poll" or "polls"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Even though every poll, Time, Drudge etc., has me winning the debate by a lot, <a href="https://twitter.com/FoxNews">@FoxNews</a> only puts negative people on. Biased - a total joke!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/698853277706784772">February 14, 2016</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/money">292 tweets</a> with "money"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/Lord_Sugar">@Lord_Sugar</a>  If you didn’t say the iPod would be gone in a year, you might have been really rich instead of the peanut money you have.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/278196526101188608">December 10, 2012</a></blockquote>
  </div>

  <div class="total-highlight">
    <h2><a ng-href="#/archive/ratings">136 tweets</a> with "ratings"</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/Toure">@Toure</a> If you weren&#39;t such a dumb racist moron with bad ratings you would know I never filed for bankruptcy,now worth over $10 billion dummy</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/377246199608508416">September 10, 2013</a></blockquote>
  </div>

  <div class="total-highlight new-section">
    <h2>Happy Holidays</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">HAPPY THANKSGIVING to everyone--I love you all, even my many enemies (sometimes!).</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/271368033417715712">November 21, 2012</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Happy Father&#39;s Day to all, even the haters and losers!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/346050284222558209">June 15, 2013</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Happy Veterans Day to ALL, in particular to the haters and losers who have no idea how lucky they are!!!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/399883997997969408">November 11, 2013</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Happy Thanksgiving to all--even the haters and losers!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/405778664039534592">November 27, 2013</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I would like to wish all fathers, even the haters and losers, a very happy Fathers Day.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/478018343967162369">June 15, 2014</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I wish everyone, including the haters and losers, a very happy Easter!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/584647721883148288">April 5, 2015</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I would like to wish everyone, including all haters and losers (of which, sadly, there are many) a truly happy and enjoyable Memorial Day!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/602571404861636608">May 24, 2015</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I&#39;d like to wish all of my friends--and even my many enemies--a very Merry Christmas and Happy New Year.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/415545490688598016">December 24, 2013</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">“<a href="https://twitter.com/realDonaldTrump">@realDonaldTrump</a>: I would like to extend my best wishes to all, even the haters and losers, on this special date, September 11th.”</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/377947866641485824">September 12, 2013</a></blockquote>
  </div>

  <div class="total-highlight new-section">
    <h2>No Context</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/BarackObama">@BarackObama</a> hard at work yesterday shooting a marshmallow cannon in the WH East Room while our country burns. <a href="http://t.co/CLGMtf2M">http://t.co/CLGMtf2M</a></p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/167328636121255937">February 8, 2012</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Why is Obama playing basketball today? That is why our country is in trouble!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/265827946240032769">November 6, 2012</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Something very important, and indeed society changing, may come out of the Ebola epidemic that will be a very good thing: NO SHAKING HANDS!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/518449173549830144">October 4, 2014</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Windmills are the greatest threat in the US to both bald and golden eagles. Media claims fictional ‘global warming’ is worse.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/509436043368873984">September 9, 2014</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">My fragrance--&quot;Success&quot;-- is flying off the shelves <a href="https://twitter.com/Macys">@Macys</a>. The perfect Christmas gift!</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/268365877664182273">November 13, 2012</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I have never seen a thin person drinking  Diet Coke.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/257552283850653696">October 14, 2012</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Got to do something about these missing chidlren grabbed by the perverts. Too many incidents--fast trial, death penalty.</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/255294883680632833">October 8, 2012</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Michael Forbes lives in a pigsty and bad liquor company Glenfiddich gave him Scot of the Year award...</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/275998837166972928">December 4, 2012</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Amazing how the haters &amp; losers keep tweeting the name “F**kface Von Clownstick” like they are so original &amp; like no one else is doing it...</p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/330359969813770242">May 3, 2013</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Why is this reporter touching me as I leave news conference? What is in her hand?? <a href="https://t.co/HQB8dl0fhn">pic.twitter.com/HQB8dl0fhn</a></p>&mdash; Donald J. Trump (@realDonaldTrump) <a href="https://twitter.com/realDonaldTrump/status/714898756420939780">March 29, 2016</a></blockquote>
    <p style="padding-left: 3px">Editorial Note: It was a pen ^^</p>
  </div>

</div> <!-- end of left side -->

<div id="highlights-right">

  <div class="quote-list link-highlight">
    <h2>On President Barack Obama</h2>
    <ol>
      <li>Obama has <a href="https://twitter.com/realDonaldTrump/status/570004147451392001" target="_blank">"no idea what he is doing - incompetent!"</a></li>
      <li>Obama has <a href="https://twitter.com/realDonaldTrump/status/666606474613886976" target="_blank">"a horrible attitude - a man who is resigned to defeat"</a></li>
      <li>Obama has <a href="https://twitter.com/realDonaldTrump/status/537245792378294272" target="_blank">"absolutely no control (or respect) over the African American community"</a></li>
      <li>Obama has <a href="https://twitter.com/realDonaldTrump/status/537157586316165120" target="_blank">"done such a poor job as president, you won't see another black president for generations!"</a></li>
      <li>Obama has <a href="https://twitter.com/realDonaldTrump/status/524159336231497729" target="_blank">"made one mistake after another for a very long time"</a></li>
      <li>Obama has <a href="https://twitter.com/realDonaldTrump/status/102079394448814080" target="_blank">"no understanding of how to create jobs or opportunity"</a></li>
      <li>Obama has <a href="https://twitter.com/realDonaldTrump/status/162665104754737152" target="_blank">"allowed America to be abused and kicked around"</a></li>
      <li>Obama has <a href="https://twitter.com/realDonaldTrump/status/261222952010395649" target="_blank">"no problem lying to the American public"</a></li>
      <li>Obama has <a href="https://twitter.com/realDonaldTrump/status/645230169997881344" target="_blank">"been horrible"</a> for Christians</li>
      <li>Obama has <a href="https://twitter.com/realDonaldTrump/status/156445416257363968" target="_blank">"been a total disaster"</a></li>
      <li>Obama is a <a href="https://twitter.com/realDonaldTrump/status/523194743531249664" target="_blank">"terrible executive"</a></li>
      <li>Obama is a <a href="https://twitter.com/realDonaldTrump/status/518391676193484800" target="_blank">"TERRIBLE PRESIDENT!"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/524173207637884929" target="_blank">"truly a pathetic excuse of a president, can't get any worse"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/519824543377268737" target="_blank">"looking like an incompetent fool"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/520315164235538433" target="_blank">"a delusional failure"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/458763139866435584" target="_blank">"so inelegant and unpresidential"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/513141602064543744" target="_blank">"so stupid"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/491378608414261248" target="_blank">"so overwhelmed by what is happening in the U.S. and throughout the World"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/772793658072559616" target="_blank">"not a natural deal maker. Only makes bad deals!"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/525474609710510080" target="_blank">"A TOTAL incompetent!"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/699913243251339265" target="_blank">"perhaps the worst president in U.S. history!"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/760552601356267520" target="_blank">"perhaps the worst president in the history of the United States!"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/752207752852832256" target="_blank">"living in a world of the make believe!"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/448742848960397313" target="_blank">"not a natural leader, was never ment to lead"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/665524569961287680" target="_blank">"just so bad!"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/446801014822543361" target="_blank">"an absolutely terrible president, maybe the worst in our history!"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/474719268819308544" target="_blank">"without question, the WORST EVER president"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/459829499795099649" target="_blank">"losing on so many fronts, in fact all fronts"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/540603770263314433" target="_blank">"giving Social Security & ObamaCare to illegals"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/479001201447796737" target="_blank">"giving a pathway to terrorists to enter our country. An attack is on him."</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/404756133040381952" target="_blank">"a TOTAL DISASTER FOR ISRAEL-AND ALWAYS WILL BE"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/316282709154619392" target="_blank">"the weakest POTUS against China"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/380916170360360960" target="_blank">"so fawning and desperate"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/376081345891405824" target="_blank">"not a leader, he's just a campaigner"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/257887990905466880" target="_blank">"the most overrated politician in US history"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/253581368087437312" target="_blank">"a racist"</a></li>
      <li>Obama is <a href="https://twitter.com/realDonaldTrump/status/257887477984022528" target="_blank">"not who you think"</a></li>
      <li>Obama wants <a href="https://twitter.com/realDonaldTrump/status/387567929761746944" target="_blank">"to change the name of the "White House" because it is highly discriminating"</a></li>
      <li>Obama wants <a href="https://twitter.com/realDonaldTrump/status/546024843645550592" target="_blank">"to deny due process to the police. He’ll give all constitutional rights to the terrorists but not our cops"</a></li>
      <li>Obama was <a href="https://twitter.com/realDonaldTrump/status/258263681945706496" target="_blank">"so pathetic in the first debate"</a></li>
      <li>Obama was <a href="https://twitter.com/realDonaldTrump/status/487096016982650880" target="_blank">"never made or prepared for the job. Like it or not, he doesn't have "it""</a></li>
      <li>Obama was <a href="https://twitter.com/realDonaldTrump/status/446790989735550976" target="_blank">"able to fool the Americans by getting elected"</a></li>
      <li>Obama <a href="https://twitter.com/realDonaldTrump/status/754789482621243392" target="_blank">"doesn't have a clue...our country is a divided crime scene"</a></li>
      <li>Obama <a href="https://twitter.com/realDonaldTrump/status/581042462115934208" target="_blank">"doesn't know what he is doing"</a></li>
      <li>Obama <a href="https://twitter.com/realDonaldTrump/status/253144495737143296" target="_blank">"loves wasting our money"</a></li>
      <li>Obama <a href="https://twitter.com/realDonaldTrump/status/245955590147424256" target="_blank">"is not capable of doing the job"</a></li>
      <li>Obama should <a href="https://twitter.com/realDonaldTrump/status/525670712317452288" target="_blank">"be ashamed!"</a></li>
      <li>Obama <a href="https://twitter.com/realDonaldTrump/status/525499546689077249" target="_blank">"you are a complete and total disaster"</a></li>
      <li>Obama <a href="https://twitter.com/realDonaldTrump/status/518552645414690816" target="_blank">"what the hell is wrong with you?"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/519429014684184576" target="_blank">"It's almost like he's saying F-you to U.S. public"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/474719268819308544" target="_blank">"I predict he will now do something really bad and totally stupid to show manhood!"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/459829499795099649" target="_blank">"I am concerned he will do something totally irrational"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/412944317041639424" target="_blank">"Who thinks that President Obama is totally incompetent?"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/522913285256249345" target="_blank">"What the hell is wrong with this guy?"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/522352142771048448" target="_blank">"Is he stubborn or just plain incompetent"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/518886816251133953" target="_blank">"Is he stupid or arrogant?"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/520062102875439105" target="_blank">"Can you be that thick (stupid)?"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/458220509680107520" target="_blank">"How much can one man lie about even the most obvious things?"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/448802098793414656" target="_blank">"How totally stupid is this guy?"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/439351077960695808" target="_blank">"How the hell did he get into Columbia & Harvard?"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/382567832287846401" target="_blank">"Is he delusional?"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/524707073649827840" target="_blank">"Everything he touches turns to garbage"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/247775014131212290" target="_blank">"Everything he touches turns into a mess. Some people just don't have it"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/264432824575221760" target="_blank">"Obama our Welfare & Food Stamp President...He doesn't believe in work."</a></li>
    </ol>
  </div>

  <div class="quote-list link-highlight">
    <h2>What's the worst?</h2>
    <ol>
      <li>President Obama <a href="https://twitter.com/realDonaldTrump/status/732377163505225728" target="_blank">"is the worst president in U.S. history!"</a></li>
      <li>Bill Clinton <a href="https://twitter.com/realDonaldTrump/status/732540713678819328" target="_blank">"the WORST abuser of woman in U.S. political history"</a></li>
      <li>Mitt Romney <a href="https://twitter.com/realDonaldTrump/status/702833969537142788" target="_blank">"one of the dumbest and worst candidates in the history of Republican politics"</a></li>
      <li>Mitt Romney's campaign <a href="https://twitter.com/realDonaldTrump/status/705352657234481152" target="_blank">"one of the worst races in presidential history"</a></li>
      <li>John Kasich <a href="https://twitter.com/realDonaldTrump/status/668914875557629953" target="_blank">"one of the worst presidential candidates in history"</a></li>
      <li>Marco Rubio <a href="https://twitter.com/realDonaldTrump/status/709595310939643905" target="_blank">"the worst voting record in the U.S. Senate in many years"</a></li>
      <li>Ted Cruz <a href="https://twitter.com/realDonaldTrump/status/697998702477242369" target="_blank">"the worst liar"</a></li>
      <li>Bill deBlasio <a href="https://twitter.com/realDonaldTrump/status/667797935686557696" target="_blank">"the worst Mayor in the U.S."</a></li>
      <li>Eric Schneiderman <a href="https://twitter.com/realDonaldTrump/status/482153112279724032" target="_blank">"nation's worst AG"</a></li>
      <li>NY Times <a href="https://twitter.com/realDonaldTrump/status/709089928324489216" target="_blank">"one of the worst newspapers"</a></li>
      <li>The media pile on (against Trump) <a href="https://twitter.com/realDonaldTrump/status/768083669550366720" target="_blank">"the worst in American political history!"</a></li>
      <li>Charles Krauthammer <a href="https://twitter.com/realDonaldTrump/status/606670546202411008" target="_blank">"one of the worst and most boring political pundits on television"</a></li>
      <li>celebrity doctors <a href="https://twitter.com/realDonaldTrump/status/506196759300038656" target="_blank">"the worst doctors (by far)"</a></li>
      <li>Our Q1 GDP <a href="https://twitter.com/realDonaldTrump/status/482511973339656192" target="_blank">"worst in memory"</a></li>
      <li>Macys <a href="https://twitter.com/realDonaldTrump/status/685057265989189632" target="_blank">"one of the worst performing stocks on the S&P last year"</a></li>
      <li>The Oscars <a href="https://twitter.com/realDonaldTrump/status/569708741576286209" target="_blank">"worst graphics and stage backdrop ever"</a></li>
      <li>The Emmys <a href="https://twitter.com/realDonaldTrump/status/250311855229255680" target="_blank">"the absolute worst show"</a></li>
      <li>Hollywood's 2013 year <a href="https://twitter.com/realDonaldTrump/status/413055107127721984" target="_blank">"the worst year ever for Hollywood"</a></li>
      <li>The Super Bowl <a href="https://twitter.com/realDonaldTrump/status/430266644569800704" target="_blank">"the worst Super Bowl in history"</a></li>
      <li>Denver's Super Bowl performance <a href="https://twitter.com/realDonaldTrump/status/430158538326167552" target="_blank">"may be the worst football game ever played by one team"</a></li>
      <li>Our foreign policy <a href="https://twitter.com/realDonaldTrump/status/368257823576436736" target="_blank">"worst in U.S. history"</a></li>
      <li>Our negotiators <a href="https://twitter.com/realDonaldTrump/status/406014439960629248" target="_blank">"the worst and dumbest"</a></li>
      <li>Congressional Republicans <a href="https://twitter.com/realDonaldTrump/status/293817480131002368" target="_blank">"the worst negotiators in history"</a></li>
      <li>ObamaCare <a href="https://twitter.com/realDonaldTrump/status/400456453477388288" target="_blank">"one of the worst political disasters of all time"</a></li>
      <li>Trump's spot at CPAC <a href="https://twitter.com/realDonaldTrump/status/312703094079229952" target="_blank">"the worst spot at CPAC"</a></li>
      <li>CNBC ratings <a href="https://twitter.com/realDonaldTrump/status/373089917200777216" target="_blank">"worst in many years"</a></li>
      <li>Karl Rove’s ads <a href="https://twitter.com/realDonaldTrump/status/306889406411845632" target="_blank">"the worst in political history"</a></li>
      <li>Karl Rove’s strategy and commercials <a href="https://twitter.com/realDonaldTrump/status/299575808106844160" target="_blank">"the worst I have ever seen"</a></li>
      <li>Chuck Hagel's confirmation hearings <a href="https://twitter.com/realDonaldTrump/status/503318071998971904" target="_blank">"the worst I have ever witnessed"</a></li>
      <li>Chuck Hagel's performance at hearings <a href="https://twitter.com/realDonaldTrump/status/297339815937073152" target="_blank">"the worst I have ever seen before a committee"</a></li>
      <li>Alan Sugar <a href="https://twitter.com/realDonaldTrump/status/278198760251727873" target="_blank">"the worst kind of loser"</a></li>
      <li>Rick Reilly <a href="https://twitter.com/realDonaldTrump/status/172404730876792832" target="_blank">"may be the worst reporter in all of sports"</a></li>
      <li>Megyn Kelly <a href="https://twitter.com/realDonaldTrump/status/646137843232952320" target="_blank">"is the worst"</a></li>
      <li>CNN <a href="https://twitter.com/realDonaldTrump/status/755142098190475265" target="_blank">"is the worst"</a></li>
    </ol>
  </div>

  <div class="quote-list link-highlight">
    <h2>Who doesn't have a clue?</h2>
    <ol>
      <li>President Obama <a href="https://twitter.com/realDonaldTrump/status/754789482621243392" target="_blank">"doesn't have a clue"</a></li>
      <li>Elizabeth Warren <a href="https://twitter.com/realDonaldTrump/status/730504511291265024" target="_blank">"doesn't have a clue"</a></li>
      <li>David Brooks <a href="https://twitter.com/realDonaldTrump/status/706531140195196932" target="_blank">"doesn't have a clue"</a></li>
      <li>Mitt Romney <a href="https://twitter.com/realDonaldTrump/status/710928141112332288" target="_blank">"doesn't have a clue"</a></li>
      <li>John Kasich <a href="https://twitter.com/realDonaldTrump/status/660312839543005184" target="_blank">"doesn't have a clue"</a></li>
      <li>Marco Rubio <a href="https://twitter.com/realDonaldTrump/status/647250131365036033" target="_blank">"doesn't have a clue"</a></li>
      <li>Rich Lowry <a href="https://twitter.com/realDonaldTrump/status/646147515918761984" target="_blank">"doesn't have a clue"</a></li>
      <li>Nicole Wallace <a href="https://twitter.com/realDonaldTrump/status/613891332944302080" target="_blank">"doesn't have a clue"</a></li>
      <li>Karl Rove <a href="https://twitter.com/realDonaldTrump/status/559820576164831232" target="_blank">"doesn't have a clue"</a></li>
      <li>Republican candidates <a href="https://twitter.com/realDonaldTrump/status/598463630288560128" target="_blank">"don't have a clue"</a></li>
      <li>Chuck Hagel <a href="https://twitter.com/realDonaldTrump/status/536892449181147136" target="_blank">"didn't have a clue"</a></li>
      <li>someone ("I just had to fire") <a href="https://twitter.com/realDonaldTrump/status/256078510467215360" target="_blank">"didn't have a clue"</a></li>
      <li>Hillary Clinton <a href="https://twitter.com/realDonaldTrump/status/728974420807581696" target="_blank">"has no clue"</a></li>
      <li>Jeb Bush <a href="https://twitter.com/realDonaldTrump/status/699283203027292161" target="_blank">"has no clue"</a></li>
      <li>Pamela Geller <a href="https://twitter.com/realDonaldTrump/status/595803825392459776" target="_blank">"doesn't have a clue"</a></li>
      <li>S.E. Cupp <a href="https://twitter.com/realDonaldTrump/status/674777043163332608" target="_blank">"doesn't have a clue"</a></li>
      <li>Errol Louis <a href="https://twitter.com/realDonaldTrump/status/671308887178551296" target="_blank">"doesn't have a clue"</a></li>
      <li>Tim O'Brien <a href="https://twitter.com/realDonaldTrump/status/624166285363015681" target="_blank">"dumb guy with no clue!"</a></li>
    </ol>
  </div>

  <div class="quote-list link-highlight">
    <h2>On Global Warming</h2>
    <ol>
      <li>Global warming is an <a href="https://twitter.com/realDonaldTrump/status/428414113463955457">"expensive hoax!"</a></li>
      <li>Global warming is a <a href="https://twitter.com/realDonaldTrump/status/427226424987385856">"HOAX"</a></li>
      <li>Global warming is a <a href="https://twitter.com/realDonaldTrump/status/408977616926830592">"total, and very expensive, hoax!"</a></li>
      <li>Global warming is a <a href="https://twitter.com/realDonaldTrump/status/416909004984844288">"total hoax!"</a></li>
      <li>Global warming is a <a href="https://twitter.com/realDonaldTrump/status/440811151283486720">"con!"</a></li>
      <li>Global warming, again, is a <a href="https://twitter.com/realDonaldTrump/status/412017385345138688">"con"</a></li>
      <li>Global warming is <a href="https://twitter.com/realDonaldTrump/status/509436043368873984">"fictional"</a></li>
      <li>Global warming is <a href="https://twitter.com/realDonaldTrump/status/264009741234221058">"mythical"</a></li>
      <li>Global warming is <a href="https://twitter.com/realDonaldTrump/status/418542137899491328">"bullshit"</a></li>
      <li>Global warming was <a href="https://twitter.com/realDonaldTrump/status/265895292191248385">"created by and for the Chinese"</a></li>
      <li>Global warming is <a href="https://twitter.com/realDonaldTrump/status/264441602636906496">"based on faulty science and manipulated data"</a></li>
      <li>Global warming has <a href="https://twitter.com/realDonaldTrump/status/185074709111644160">"been proven to be a canard repeatedly over and over again"</a></li>
      <li>Global warming - <a href="https://twitter.com/realDonaldTrump/status/435741126440808448">"the fact is We didn't cause it. We cannot change it."</a></li>
    </ol>
  </div>

  <div class="quote-list">
    <h2>Personal Superlatives</h2>
    <ol>
      <li><a href="https://twitter.com/realDonaldTrump/status/332308211321425920" target="_blank">"My I.Q. is one of the highest - and you all know it!"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/712729376207540226" target="_blank">"I will be the best by far in fighting terror"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/690896236765806592" target="_blank">"I will be the greatest job-producing president in American history"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/598463630288560128" target="_blank">"I am the BEST builder, just look at what I've built"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/263286265934381058" target="_blank">"I am the best builder but if that were my building with the crane mishap..."</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/645763590981611524" target="_blank">"I am attracting the biggest crowds, by far, and the best poll numbers, also by far."</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/741590381503086592" target="_blank">"I am least racist person there is"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/701750410621497345" target="_blank">"I am in Las Vegas, at the best hotel (by far), Trump International"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/706543741088067584" target="_blank">"I am at Trump National Doral-best resort in U.S."</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/523775993094602752" target="_blank">"Donald Trump's Palm Beach mansion...which I turned into the greatest club in the world"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/306797506791079938" target="_blank">"Many people have commented that my fragrance, “Success”  is the best scent & lasts the longest</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/491324429184823296" target="_blank">"Many people have said I’m the world’s greatest writer of 140 character sentences."</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/267286471172562944" target="_blank">"Many are saying I'm the best 140 character writer in the world"</a></li>
    </ol>
  </div>

  <div class="quote-list">
    <h2>I have...</h2>
    <ol>
      <li><a href="https://twitter.com/realDonaldTrump/status/767505383430782976" target="_blank">"I have been drawing very big and enthusiastic crowds"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/750692436687585280" target="_blank">"I have over seven million hits on social media re Crooked Hillary Clinton"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/739803054476775424" target="_blank">"I have been able to spend far less money than others on the campaign and finish #1"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/737610159459991552" target="_blank">"I have raised/given a tremendous amount of money to our great VETERANS"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/714818473382248448" target="_blank">"I have millions more votes/hundreds more dels than Cruz or Kasich"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/712300954775887876" target="_blank">"I have proven to be far more correct about terrorism than anybody- and it’s not even close."</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/705354682886201348" target="_blank">"I have brought millions of people into the Republican Party"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/700787183872057344" target="_blank">"I have built so many great & complicated projects– creating tens of thousands of jobs"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/681847012304797696" target="_blank">"I have spent almost nothing on my run for president and am in 1st place"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/676279366184247298" target="_blank">"I have a 33% to 20% lead over Ted Cruz and all others. Think about it!"</a></li>
      <li><a href="https://twitter.com/realDonaldTrump/status/290845284215431169" target="_blank">"I have just exceeded 2 million followers--and in such a short time!"</a></li>
    </ol>
  </div>

  <div class="quote-list link-highlight">
    <h2>Highest Rated</h2>
    <ol>
      <li>Face The Nation Trump interview <a href="https://twitter.com/realDonaldTrump/status/686740083265957889" target="_blank">"highest rated show that they have had in 15 years"</a></li>
      <li>SNL's Trump episode <a href="https://twitter.com/realDonaldTrump/status/663520201187590144" target="_blank">"highest ratings since 2012"</a></li>
      <li>Chirs Wallace's Trump interview <a href="https://twitter.com/realDonaldTrump/status/657231408813993984" target="_blank">"highest ratings since Feb of '09"</a></li>
      <li>Meet the Press Trump interview <a href="https://twitter.com/realDonaldTrump/status/652918158672678912" target="_blank">"highest rated show in 4 years"</a></li>
      <li>CBS 60 Minutes Trump interview <a href="https://twitter.com/realDonaldTrump/status/648618323144540160">"atings for @60Minutes last night were their biggest in a year"</a></li>
      <li>CNN GOP debate <a href="https://twitter.com/realDonaldTrump/status/644560712665329664" target="_blank">"in the history of @CNN, last night’s debate was its highest rated ever"</a></li>
      <li>Fox News GOP debate <a href="https://twitter.com/realDonaldTrump/status/629752659587788800" target="_blank">"I got you the highest debate ratings in your history"</a></li>
      <li>Miss USA Pageant (run by Trump) <a href="https://twitter.com/realDonaldTrump/status/476823143617929216" target="_blank">"highest rated non-sports telecast on the Big 4 networks"</a></li>
      <li>WrestleMania 23 (featuring Trump) <a href="https://twitter.com/realDonaldTrump/status/451080874201579520" target="_blank">"I shave @VinceMcMahon's hair--highest rated show in WWE history"</a></li>
      <li>Dateline (hosted by Trump) <a href="https://twitter.com/realDonaldTrump/status/313235737027936256" target="_blank">"highest rated Dateline since January"</a></li>
      <li>Comedy Central Roast of Donald Trump <a href="https://twitter.com/realDonaldTrump/status/48734756329881600" target="_blanks">#1 highest rated Comedy Central Roast ever"</a></li>
      <li>Trump Winery <a href="https://twitter.com/realDonaldTrump/status/478577669274341376" target="_blank">"Virginia's highest rated wine by @WineEnthusiast"</a></li>
      <li>WrestleMania "Battle of the Billionaires" (featuring Trump) <a href="https://twitter.com/realDonaldTrump/status/580822097292840961" target="_blank">"the greatest of all time—set all records"</a></li>
    </ol>
  </div>

  <div class="quote-list link-highlight">
    <h2>Media Disdain</h2>
    <ol>
      <li ng-repeat="entry in media | orderBy: 'target' ">
        {{entry.target}} <a ng-href="https://twitter.com/realDonaldTrump/status/{{entry.id}}" target="_blank">"{{entry.snippet}}"</a> ({{entry.date | date : 'MM/dd/yyyy'}})
        <!-- <ul ng-if="entry.response">
          <li>{{entry.response}} [<a ng-href="{{entry.source}}" target="_blank">src</a>]</li>
        </ul> -->
      </li>
    </ol>
  </div>


</div><!-- end of right side -->

</div> <!-- end of page -->
